body {
font-family: sans-serif;
font-size: 14pt;
margin: 0 auto;
text-align: center;
width: 680px;
background-color: yellow;
}


table {
margin: 0 auto;
}

h1{
	font-size: 20pt;
	font-family:Viner Hand ITC;
}
td {
border: 1px solid red;
width: 100px;
height: 100px;
font-size: 2em;
font-family: sans-serif;
}

h1{
	font-size: 2em;
	font-family :Arial;

#message {

border: 1px solid #660066;
border-radius: 5px;
box-shadow: 1px 1px 5px black, -1px -1px 5px white;
display: none;
font-weight: bold;
height: 30%;
margin: 0 auto;
padding: 20px;
position: relative;
top: 50px;
width: 80%;
z-index: 200;
}
}